{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}"> 
    <title>Success Page</title>
    
    <!-- <img src="dashboard\Examplelogin\Eg\images\bg.jpg"> -->
</head>
<style>
    body {
      background-image: url("{% static 'bg.jpg' %}");
    }
    </style>
<body>
    <br>
 
        <h1>{{email}} <br> SUCCESSFULLY SUBMITTED!!!</h1>
        <br>
        <p><b><i>Thanks for choosing our tool</i></b></p>
    </div>
</body>
</html>
